/*  your css code here. If applicable */
body {
	padding : 0;
	margin : 0;
	background-color : #f6f6f6;
	gap : 10px;
	height : 100vh;
	display : flex;
	justify-content : center;
	text-align : center;
}

.main {
	display : flex;
}

.left {
	display : inline-block;
	/* justify-content : center;
	text-align : center;
	align-items : center; */
	width : 450px;
	margin-top : 70px;
}

/* 
.right {
	display : flex;
	flex-direction : column;
	justify-content : center;
	text-align : center;
	align-items : center;
	height : 100vh;
	width : 50vw;
}

#login-form {
	display : flex;
	flex-direction : column;
	background-color : white;
	height : 250px;
	width : 450px;
	padding : 20px;
	border-radius : 10px;
}

.divs form {
	display : flex;
	flex-direction : column;
	gap : 10px;
	flex: 1;
} */

form {
	display : flex;
	flex-direction : column;
	background-color : white;
	height : 300px;
	padding : 20px;
	border-radius : 5px;
	box-shadow : 0 0 10px #ccc;
	gap : 10px;
}

input {
	padding : 10px;
	border : 1px solid #ccc;
	border-radius : 5px;
}

button {
	background-color : #1877f2;
	border-radius : 5px;
	padding : 10px 20px;
	width : 100%;
}

/* .btn {
	padding : 10px;
	border : none;
	border-radius : 5px;
	color : white;
} */

/* #log-in-btn {
	background-color : #2f80ed;
}

.signup {
	background-color : #43b72a;
} */

a {
	margin-top : 20px;
	text-align : left;
	text-decoration : none;
	color : #1877f2;
}


.signup {
	background-color : #42b72a;
}